ul.footer li {
    display: inline;
    list-style-type: none;
    border: 1px solid #000;
    margin: 5px;
    padding: 2px;
}
ul.footer li a {
    font-style: italic;
} 

li.selected {
    color: green;
}